<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vacation Diary {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <!-- STYLES -->
    {#    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Cherry Cream Soda|Shanti|PT Sans Caption' rel='stylesheet'>
    {% block link %}{% endblock %}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
{% block side_bar %}
    {% include 'includes/_side_bar.html' %}
{% endblock %}

{% block main_img %}{% endblock %}
<div id="section-1"></div>

<span class="nav-menu-link" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
<section>
{% include 'recent_posts.html' %}
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; VacationDiary 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    function openNav() {
        $("#sidebar-wrapper").width("100%");
    }

    function closeNav() {
        $("#sidebar-wrapper").width(0);
    }
</script>
{% block endScript %}{% endblock %}
</body>
</html>