<div class="log_comments_wrapper">
    <form method="POST" action="{{ url_for('comments.log_comment', vacation_id=vacation_id, next=request.script_root + request.path) }}">
        <br>
        <h4>Leave a Comment...</h4>
        <textarea class="comments" rows="5" name="comment" placeholder="Comments..."></textarea>
        <span><input class="textareaCounter">  Characters Remaining</span>
        <br>
        <span class="comment_notification"></span><button class="submit_comment" type="Submit">Submit</button>
    </form>
</div>
<br>