{% extends '_base.html' %}
{% block title %}| Edit {% endblock %}

{% set img_src = 'https://s3.amazonaws.com/vacationimages/static/image' %}
{% set deleted = [] %}
{% block content %}
    <h2><a class="vac_name" href="/myVacation/{{ vacation_info.name }}">{{ vacation_info.name }}</a></h2>
    <form class="edit_vacation" enctype=multipart/form-data role="form"
          action="/edit?next={{ request.args.get('next') }}" method="post" name="edit_form">
        <fieldset>
            {% for image in image_list %}
                <div class="image_wrapper">
                    <img class="img_edit img_edit_{{ image }}" id="{{ image }}"
                         src="{{ img_src }}/{{ user_name }}/{{ vacation_info.name }}/{{ image }}">
                    <label class="delete_img {{ image }}">X</label>
                    <input data-tag-image="0" style="display: none;" class="checkbox_{{ image }}" name="deleted" value="{{ image }}">
                </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <div class="add_img" style="clear:both">
                <label for="img_files">Want to add more images?</label>
                {{ form.photo(multiple="multiple") }}
            </div>
        </fieldset>
        <br>
        <fieldset>
            <div class="edit_desc">
                <textarea name="description">{{ vacation_info.description }}</textarea>
            </div>
        </fieldset>
        <table>
            <tr>
                <fieldset>
                    <td><label>Location</label></td>
                    <td name="location">{{ form.location }}</td>
                </fieldset>
            </tr>
            <tr>
                <fieldset>
                    <td><label>Who was with you?</label></td>
                    <td name="with_who">{{ form.with_who }}</td>
                </fieldset>
            </tr>

        </table>
        <br>
        <fieldset style="float: left;">
            <button class="btn btn-sm btn-success submit_edit" type="submit">Update</button>
        </fieldset>
    </form>
    <form action="{{ request.args.get('next') }}">
        <fieldset>
            <button class="btn btn-cancel btn-sm btn-warning" type="submit">Cancel</button>
        </fieldset>
    </form>

{% endblock %}
{##}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/edit_slideshow.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% block endScript %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC9v2D3W59ZapYegAsOvu50r_mwPyM5we8&libraries=places" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.geocomplete.min.js') }}"></script>
{% endblock %}