{% extends '_base.html' %}
{% block title %}{% endblock %}

{% block main_img %}
    {% include 'includes/_main_img.html' %}
{% endblock %}


{% block content %}
    <div class="main__header" id="main__header">
        <h3 class="main__headerTitle">Welcome to Vacation Diary</h3>
        <h5 class="main__logan">Where Everyone Shares Their Dream Vacation !!</h5>
    </div>
    <div id="main">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mollis justo. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et iaculis tortor. Duis sapien felis,
            rutrum efficitur auctor in, molestie et sapien. Phasellus vel eleifend eros. Ut vitae venenatis lacus.
            Aenean iaculis gravida dolor sit amet tincidunt. Curabitur pellentesque nulla id bibendum egestas.
            Suspendisse potenti. Suspendisse in aliquam mi, vel maximus elit. Morbi volutpat vel eros a blandit. Mauris
            mollis magna ac sagittis cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. In hac habitasse platea dictumst.</p>

        <p>Cras massa eros, porttitor a semper ac, interdum eu nisi. Sed eu interdum magna, id viverra ante. Sed nec
            mattis ante, vel sagittis nisl. Aliquam ac justo cursus, euismod elit in, sodales ipsum. Praesent mattis
            rutrum sagittis. Donec hendrerit, orci eu sagittis vulputate, lorem orci efficitur felis, rhoncus rutrum
            arcu ante quis lorem. In hac habitasse platea dictumst. Aenean sed velit id ante efficitur euismod. Quisque
            mollis, purus a elementum vestibulum, nulla lacus vulputate felis, eget interdum diam nisi a eros.
            Suspendisse scelerisque sem suscipit risus auctor suscipit.</p>

        <p>In bibendum quis nibh ac pharetra. Curabitur non enim porttitor, vehicula lorem sit amet, elementum orci.
            Etiam bibendum vulputate erat, ac vulputate sapien venenatis at. In hac habitasse platea dictumst. Cras
            condimentum eleifend cursus. Aenean mattis lorem in urna tristique porttitor. Suspendisse ut metus a nulla
            facilisis rutrum. Duis gravida placerat ex, non consequat mi bibendum nec. Vivamus accumsan gravida ex, ut
            dapibus mauris sollicitudin a. Aliquam odio tortor, ornare eget fringilla in, vestibulum sit amet justo.</p>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
