{% extends '_base.html' %}
{% block title %}{% endblock %}

{% block content %}
    {% set img_src = 'https://s3.amazonaws.com/vacationimages/static/image/' %}
    <div id="List_of_all_vacations_wrapper">
        {% if list_of_vacation|length > 0 %}
            <h3 class="vacation_list__h3">LIST OF MY VACATIONS</h3>
            {% for i in list_of_vacation %}
                <div class="logged_vacation_container">
                    <a class="vac_name" href="/myVacation/{{ i[0] }}"> {{ i[0] }}</a>
                    <a class="vac_list_img" href="/myVacation/{{ i[0] }}"><img class="vacation_list_img" src="
                            {{ img_src }}{{ user_name }}/{{ i[0] }}/{{ i[2] }}"></a>
                    <p class="vacation_list_desc">{{ i[1] }}</p>
                    <hr class="between_logged_vacations">
                </div>
                {% set is_more = i[4] %}
            {% endfor %}
            {% if is_more %}
                <button id="load_more">Load More</button>
            {% endif %}
        {% else %}
            <p>You have no logged vacations. Would you like to share with us?</p>
            <form action="/myVacation/logVacation">
                <input type="submit" class="log_vacation" value="Log Vacation">
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/listOfVacations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}