{% extends "_base.html" %}
{% block title %}| Login{% endblock %}


{% block content %}

    <div id="pop-up-modal" class="pop-up-modal">
        <!-- Modal content -->
        <div class="pop-up-modal-content">
            <div class="pop-up-modal-header">
                <span class="pop-up-close">&times;</span>
                <h3>Please sign-in</h3>
            </div>
            <div class="pop-up-modal-body">
                <form class="form-signin" role="form" method="post" action="/login">
                    {{ form.csrf_token }}
                    <p>{{ form.name(placeholder="user name") }}</p>
                    <p>
                        <span class="error">
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </p>
                    <p>{{ form.password(placeholder="password") }}</p>
                    <p>
                        <span class="error">
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </p>
                    <button class="btn btn-sm btn-success" type="submit">Sign in</button>
                    <br>
                    <br>
                    <p><em>Need an Account?</em><a href="/register"> Signup</a></p>
                </form>
            </div>
            <div class="pop-up-modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/signIn.js') }}"></script>

{% endblock %}