{% extends '_base.html' %}
{% block title %}| Log Vacation{% endblock %}

{% block content %}
    <script>
        $(function () {
            $('.switchWrapper').append('<p>Private</p>');
        });
        function switchButton() {
            if ($('.checkbox').is(':checked')) {
                $('.switchWrapper p').remove();
                $('.switchWrapper').append('<p>Public</p>');
            } else {
                $('.switchWrapper p').remove();
                $('.switchWrapper').append('<p>Private</p>');
            }
        }
    </script>
    <h3>Save Your Vacation</h3>
    &nbsp;
    <form class="logVacation" enctype=multipart/form-data role="form" method="post" action="/myVacation/logVacation">
        <div class="switchWrapper">
            <small>How would you like this vacation to be saved?</small><br>
            <label class="switch" onclick="switchButton()">
                <input class="checkbox" type="checkbox" name="public">
                <div class="slider round"></div>
            </label>
        </div>
        {{ form.csrf_token }}

        <br>
        {{ form.vacation_name(placeholder="Name Your Vacation") }}
        <p><span class="error">
            {% if form.vacation_name.errors %}
                {% for error in form.vacation_name.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </span></p>
        <br>
        <fieldset>
            <td name="location">{{ form.location(placeholder="Where was it?") }}</td>
        </fieldset>
        <p><span class="error">
            {% if form.location.errors %}
                {% for error in form.location.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </span></p>
        <br>
        {{ form.with_who(placeholder='Who was with you') }}
        <br>
        <br>
        {{ form.description(placeholder="Tell us about your vacation... or not.") }}<br>
        {{ form.when(class="datepicker", placeholder="when?") }}
        <p><span class="error">
            {% if form.when.errors %}
                {% for error in form.when.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </span></p>
        <br><br>
        <h6>Upload your vacation Pictures</h6>
        {{ form.photo(multiple="multiple", class_="text-center center-block well well-sm") }}
        <p><span class="error">
            {% if form.photo.errors %}
                {% for error in form.photo.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </span></p>
        <br>

        <button class="btn btn-primary" value="upload" type="submit">Save Vacation</button>
        <span></span>
        <button class="btn btn-default" value="Cancel" type="reset">Cancel</button>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block endScript %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC9v2D3W59ZapYegAsOvu50r_mwPyM5we8&libraries=places" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.geocomplete.min.js') }}"></script>
{% endblock %}

{% block link %}{% endblock %}


