{% extends '_base.html' %}
{% block title %}My Vacation {% endblock %}

{% block main_img %}
    {% include 'includes/_main_img.html' %}
{% endblock %}

{% block content %}
    <div class="vacation-wrapper">
        <h4>Welcome to your vacation page nonsense.</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras ac lectus quis ante posuere convallis.
            Mauris sit amet metus non metus congue porta.
            Nulla vel ex mollis, consectetur leo quis, aliquet diam.
            Cras eget ligula nec turpis feugiat ullamcorper ac eget nunc.
            Sed accumsan dui in fermentum scelerisque.
            Vivamus auctor turpis sed nisi suscipit ullamcorper.
            Integer vel sem condimentum, porttitor libero vitae, commodo odio.
            Aenean maximus orci ac ex molestie ultricies.
            Aenean ac sem in ante posuere egestas.
            Mauris dapibus est sed enim finibus, sit amet dignissim nunc dignissim.
            Integer elementum massa eget consequat rutrum.
            Vestibulum elementum lectus et convallis posuere.
            Aenean ultricies justo sollicitudin facilisis consectetur.
            Fusce a lorem quis augue ultrices semper vitae sed libero.
            Vivamus aliquet lectus et metus blandit porttitor.
            Quisque interdum arcu sed eros tempor vestibulum.
            Donec eu elit efficitur, consectetur urna ac, interdum nunc.
            Mauris eu leo quis dui auctor lacinia vitae vel justo.
            Suspendisse in tortor ac tellus ullamcorper laoreet in sed odio.
            Proin ac sem in magna dignissim faucibus.
            Phasellus ut erat imperdiet mi luctus sodales at et turpis.
            Curabitur nec odio at nunc accumsan vulputate.
        </p>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

