{% extends '_base.html' %}
{% block title %} My Profile {% endblock %}


{% set img_src = 'https://s3.amazonaws.com/vacationprofileimages' %}
{% block content %}
{#    <form enctype=multipart/form-data role="form" method="post" action="/profile">#}
{#        <table>#}
{#            <tr>#}
                {#                <td>{% if not profile_info.profile_image %}#}
                {#                    <div class="profile_img">#}
                {#                    <img src="{{ 'static/image/dummy_blank_profile.jpg' }}"><br>#}
                {#                {% else %}#}
                {#                    {% set img_src= img_src + '/' + profile_info.name + '/' + profile_info.profile_image %}#}
                {#                    <div class="profile_img"><img src="{{ img_src }}"><br>#}
                {#                {% endif %}#}
                {#                    </div>#}
                {#                </td>#}
{#                <td>#}
{#                    <div class="profile_info">#}
{#                        <label>User Name: </label>#}
{#                        <div>#}
{#                            <span class="profile_name">{{ form.name(placeholder=profile_info.name) }}</span>#}
{#                            <span class="glyphicon glyphicon-question-sign user_name_info">#}
{#                                <span class="tooltiptext_name">Name Change is not available yet.</span>#}
{#                            </span>#}
{#                        </div>#}
{#                        <br>#}
{#                        <p>{{ form.email(placeholder=profile_info.email) }}</p>#}
{#                        <p>{% if form.email.errors %}#}
{#                            <span class="error">#}
{#                                {% for error in form.email.errors %}#}
{#                                    {{ error }}#}
{#                                {% endfor %}#}
{#                            </span>#}
{#                        {% endif %}#}
{#                        </p>#}
{#                        <p>{{ form.password(placeholder='password') }}</p>#}
{#                        <p>{% if form.password.errors %}#}
{#                            <span class="error">#}
{#                                {% for error in form.password.errors %}#}
{#                                    {{ error }}#}
{#                                {% endfor %}#}
{#                            </span>#}
{#                        {% endif %}#}
{#                        </p>#}
{#                        <p>{{ form.confirm(placeholder="confirm password") }}</p>#}
{#                        <p>{% if form.confirm.errors %}#}
{#                            <span class="error">#}
{#                                {% for error in form.confirm.errors %}#}
{#                                    {{ error }}#}
{#                                {% endfor %}#}
{#                            </span>#}
{#                        {% endif %}#}
{#                        </p>#}
{#                        <button class="profile_update btn btn-sm btn-info" value="upload" type="submit">UPDATE</button>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{#        {{ form.photo }}#}
{#        <p>{% if form.photo.errors %}#}
{#            <span class="error">#}
{#            {% for error in form.photo.errors %}#}
{#                {{ error }}#}
{#            {% endfor %}#}
{#        </span>#}
{#        {% endif %}#}
{#        </p>#}
{#    </form>#}
{#    <br>#}

    {# New Profile Start#}

    <div class="container" style="padding-top: 25px;">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">

            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <h3>Personal info</h3>
                <form class="form-horizontal" enctype=multipart/form-data role="form" method="post" action="/profile">

                    <div class="text-center">
                        {% if not profile_info.profile_image %}
                            <div class="profile_img">
                                <img src="{{ 'static/image/dummy_blank_profile.jpg' }}"><br>
                            </div>
                        {% else %}
                            {% set img_src= img_src + '/' + profile_info.name + '/' + profile_info.profile_image %}
                            <div>
                                <img src="{{ img_src }}"  class="img-circle profile_img">
                                <br>
                            </div>
                        {% endif %}
                        <h6>Upload a different photo...</h6>
                        {{ form.photo(class_="text-center center-block well well-sm") }}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Username:</label>
                        <div class="col-lg-8">
                            {{ form.name(placeholder=profile_info.name, class_='profile_name') }}

                            <span class="glyphicon glyphicon-question-sign user_name_info">
                                <span class="tooltiptext_name">Username Change is not available yet.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            {{ form.email(placeholder=profile_info.email) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password:</label>
                        <div class="col-lg-8">
                            {{ form.password(placeholder='password') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Confirm password:</label>
                        <div class="col-lg-8">
                            {{ form.confirm(placeholder="confirm password") }}
                        </div>
                    </div>
                    <div class="form-group profile_btns">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button class="btn btn-primary" value="upload" type="submit">Save Changes</button>
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {# New Profile End#}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
