{% set data  =  recent_posts() %}
{% set img_src = 'https://s3.amazonaws.com/vacationimages/static/image/' %}
{% if data %}
    <div class="container">
        <!-- Page Heading -->
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="recent_posts_header">Recent Posts
                </h1>
            </div>
        </div>
        <!-- /.row -->
        {% for i in data %}
            <div class="row recent_posts_row">
                <div class="col-md-7 recent_post_left">
                    <a href="/myVacation/{{ i['name_slugged'] }}">
                        <img class="img-responsive"
                             src="{{ img_src }}{{ i['user_name'] }}/{{ i['name_slugged'] }}/{{ i['main_image'] }}"
                             alt="{{ i['name_slugged'] }}_image">
                    </a>
                </div>
                <div class="col-md-5 recent_post_right">
                    <h3 class="recent_posts__h3">{{ i['name_original'] }}</h3>
                    {#                <h4>Subheading</h4>#}
                    <p class="vacation_desc">{{ i['description'] }}</p>
                    <a class="btn btn-primary" href="/myVacation/{{ i['name_slugged'] }}" class="vacation_name">View
                        Vacation <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->
            <hr class="recent_posts_hr">
        {% endfor %}
    </div>

{% else %}
    <h3>No Recent Post Available</h3>
{% endif %}



