{% extends "_base.html" %}
{% block title %} Register {% endblock %}

{% block main_img %}
    {% include 'includes/_main_img.html' %}
{% endblock %}


{% block content %}
    <div id="pop-up-modal" class="pop-up-modal">
        <!-- Modal content -->
        <div class="pop-up-modal-content">
            <div class="pop-up-modal-header">
                <span class="pop-up-close">&times;</span>
                <h3>Please register</h3>
            </div>
            <div class="pop-up-modal-body">
                <form method="POST" action="/register/">
                    {{ form.csrf_token }}
                    <p>{{ form.name(class_='test', placeholder="user name") }}</p>
                    <p>{% if form.name.errors %}
                            <span class="error">
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                            </span>
                        {% endif %}
                    </p>
                    <p>{{ form.email(placeholder='email address') }}</p>
                    <p>{% if form.email.errors %}
                            <span class="error">
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </p>
                    <p>{{ form.password(placeholder='password') }}</p>
                    <p>{% if form.password.errors %}
                            <span class="error">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </p>
                    <p>{{ form.confirm(placeholder="confirm password") }}</p>
                    <p>{% if form.confirm.errors %}
                            <span class="error">
                                {% for error in form.confirm.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </p>
                    <div class="reg-button">
                        <button class="btn btn-sm btn-success" type="submit">Register</button>
                    </div>
                    <br>
                    <p><em>Already Registered?</em> <a href="/login">Login</a></p>
                </form>
            </div>
            <div class="pop-up-modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/signIn.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}