{% extends "_base.html" %}
{% block title %} | {{ vacation.name }} {% endblock %}

{% block content %}
    <div class="vacation_container">
        <p class="vac_name">{{ vacation.name }}</p>
        {% if logged and owner %}
            <span id="edit_slideshow"><a href="">Edit</a></span>
        {% endif %}

        <div class="vacation_slideshow_container">
            {% set list_names=photo_names %}
            {% set caption=vacation.name %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
            <script>vacation_slideshow({{ photo_names|tojson|safe}}, {{ vacation.name|tojson|safe }});</script>
        </div>
        <div class="vacation_body">
            <br>
            <div class="vacation_desc">
                {{ vacation.description }}
            </div>
        </div>
    </div>
    <hr>

    {% with vacation_id=vacation.id %}
        {% include 'comments.html' %}
    {% endwith %}

    <div class="comments_wrapper">
        <script type="text/javascript" src="{{ url_for('static', filename='js/comments.js') }}"></script>
        <script>display_comments({{ logged|tojson|safe }}, {{ comments|tojson|safe }}, {{ vacation.id|tojson|safe }})</script>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/input_limiter.js') }}"></script>
{% endblock %}