{% extends '_base.html' %}
{% block title %} | Page Not Found {% endblock %}

{% block content %}
    <div class="error_404">
        <img class="img_404" src="https://s3.amazonaws.com/vacationimages/static/image/error/404.png">
        <p class="error_msg">Sorry !! The page you are looking for is not here. Check out the Recent Posts section
            below.</p>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}