<header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"
                 style="background-image:url('https://s3.amazonaws.com/vd-homepage-image/sai-kiran-anagani-209542.jpg');"></div>
            <div class="carousel-caption">
                <h2>Vacation Diary</h2>
                {% include 'includes/_scroll_down.html' %}
            </div>
        </div>
        <div class="item">

            <div class="fill"
                 style="background-image:url('https://s3.amazonaws.com/vd-homepage-image/christian-holzinger-1262.jpg');"></div>
            <div class="carousel-caption">
                <h2>Vacation Diary</h2>
                {% include 'includes/_scroll_down.html' %}
            </div>
        </div>
        <div class="item">

            <div class="fill"
                 style="background-image:url('https://s3.amazonaws.com/vd-homepage-image/dan-stark-40228.jpg');"></div>
            <div class="carousel-caption">
                <h2>Vacation Diary</h2>
                {% include 'includes/_scroll_down.html' %}
            </div>
        </div>
        <div class="item">

            <div class="fill"
                 style="background-image:url('https://s3.amazonaws.com/vd-homepage-image/frank-mckenna-127338.jpg');"></div>
            <div class="carousel-caption">
                <h2>Vacation Diary</h2>
                {% include 'includes/_scroll_down.html' %}
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
