<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a></li>
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
                <a href="/">Vacation Diary</a>
            </li>
            <div class="sidebar-nav-items">
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/myVacation/logVacation">Log a Vacation</a>
                </li>
                <li>
                    <a href="/myVacation/loggedVacations">Logged Vacations</a>
                </li>
                <hr>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <hr>
                {% if not session.logged_in %}
                    <li id="signup"><a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li id="login"><a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% else %}
                    <li id="logout"><a href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </div>
</div>