.log_comments_wrapper {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 40px;

  .submit_comment{
    width: 80px;
    float: right;
  }
  textarea{
    box-shadow: 2px 2px 50px #6a6b71;
  }
  .textareaCounter{
    width: 40px;
  }
}

.comments_wrapper{
  .comment_area_text{
    margin: 10px;
    word-wrap: break-word;
  }
  .EOComment{
     margin-top: 25px;
     border: none;
     height: 1px;
     color: #aeaeae; /* old IE */
     background-color: #aeaeae; /* Modern Browsers */
   }
}

@media only screen and (max-width: 10240px){
  .log_comments_wrapper textarea{
    height: 6em;
    width: 100%;
    margin:auto;
    display: block;
  }
}
@media only screen and (max-width: 500px){
  .log_comments_wrapper textarea{
    height: 4em;
    width: 100%;
    margin: auto;
    display: block;
  }
}