.error_404{
  .img_404{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  p.error_msg{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
  }
}
