#List_of_all_vacations_wrapper {

  .vacation_list__h3 {
    margin-left: 0;
  }

  .logged_vacation_container {
    float: left;
    display: block;
    width: 100%;
    .vac_name {
      display: block;
    }
    //.vac_name:hover{
    //  text-decoration: none;
    //
    //}
    .vacation_list_img {
      width: 200px;
      float: left;
      margin: 25px 40px 25px 0;
      //margin-right: 50px;
      border-style: solid;
      border-color: transparent;
      border-radius: 15px;

      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;

      vertical-align: middle;
    }

    .vacation_list_img:hover {
      /* Blur Effect Transaction */
      -webkit-filter: blur(1px);
      -webkit-transition: .2s ease-in-out;
      -moz-filter: blur(1px);
      -moz-transition: .2s ease-in-out;
      -o-filter: blur(1px);
      -o-transition: .2s ease-in-out;
    }

    .vacation_list_desc {
      margin-top: 25px;
      margin-left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; /* number of lines to show */
      line-height: 20px; /* fallback */
      max-height: 20*10px; /* fallback */
    }
    .between_logged_vacations {
      clear: both;
      color: #aeaeae;
      background-color: #aeaeae;
      height: 1px;
      margin-top: 25px;

    }
  }
  #load_more {
    outline-style: none;
    background-color: $main1;
    border: 1px solid $main1;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    width: 200px;
    cursor: pointer;

    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-in;
  }
  #load_more:hover{
    background-color: #f6f6f6;
    color: $main1;
  }
  #load_more:active{
    background-color: $main1;
    color: #f6f6f6;
  }

  .log_vacation{
    outline-style: none;
    background-color: $main1;
    border: 1px solid $main1;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    width: 200px;
    cursor: pointer;

    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-in;
    }

    .log_vacation:hover{
      background-color: #f6f6f6;
      color: $main1;
    }
    .log_vacation:active{
      background-color: $main1;
      color: #f6f6f6;
    }
}

@media only screen and (max-width: 500px) {
  .vacation_list__h3, .logged_vacation_container {
    margin-left: 10px;
  }
  .vacation_list__h3 {
    margin-top: 0;
  }

}

