.left-menu {
  display: none;
  width: 20%;
  .leftMenuWrapper{
    padding: 30px 0 0 0;
    li {
      list-style-type: none;
      width: 100%;
      display: inline-block;
      height: 30px;
      border: 1px solid #0e90d2;
      border-radius: 10px;
      background-color: #0477BF;

      a{
        display: block;
        margin-left: 10px;
        text-decoration: none;
        color: #080808;
      }

      a:hover{
        color:white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .left-menu{
    width: 80%;
  }
}