.pop-up-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .pop-up-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .pop-up-modal-header {
    padding: 2px 16px;
    color: white;
    background-color: $main2;
  }
  .btn{
    background-color: $main2;
    border-color: $main2;
  }
  .pop-up-modal-body {
    padding: 2px 16px;

    form {
      margin-top: 50px;
      text-align: center;
      input {
        width: 60%;
      }
    }
  }

  .pop-up-modal-footer {
    padding: 2px 16px;
    background-color: $main2;
    color: white;
  }
  .pop-up-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width:800px) {
  .pop-up-modal-content {
    min-width: 80%;
  }
}

@media (max-width: 800px){
  .pop-up-modal{
    padding-top: 50px;
  }
}