.profile_change_pass{
  margin-top: 20px;
}
td{
  vertical-align: top;
  padding-top: 10px
}
.profile_info{
  margin-left: 50px;

  p{
    margin-left: 0;
  }


  .user_name_info {
    color:#0e90d2 !important;
  }
  .profile_update {
    margin-top: 20px;
  }
  .user_name_info:hover{
    color: #0e679b !important;
    cursor: pointer;
  }
  .user_name_info {
    position: relative;
    display: inline-block;
  }

  .user_name_info .tooltiptext_name {
    visibility: hidden;
    width: 150px;
    background-color: #93c2e4;
    color: #f8f8f8;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }

  .user_name_info .tooltiptext_name::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .user_name_info:hover .tooltiptext_name {
    visibility: visible;
  }
}

.profile_img {
  max-height: 400px;
}

.profile_name{
  pointer-events: none;
  background-color: #ebebf0;
}

.profile_btns{
  padding-left: 15px;
}
//.my_vacations_list{
//  clear:both;
//}

