.col-md-12 {
  padding: 0;
  .recent_posts__h3 {
    margin-left: 0;
    margin-top: 0 !important
  }
  .recent_post {
    padding: 0 20px 0 0;
    width: 50%;
    float: left;
    height: 250px;
    margin-bottom: 20px;
    //.vacation_name{
    //  margin-left:10px;
    //  }
  }
  .recent_posts_image {
    float: left;
    margin-right: 50px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
  }
  .recent_posts_image:hover {
    /* Blur Effect Transaction */
    //-webkit-filter: blur(2px);
    //-webkit-transition: .2s ease-in-out;
    //-moz-filter: blur(2px);
    //-moz-transition: .2s ease-in-out;
    //-o-filter: blur(2px);
    //-o-transition: .2s ease-in-out;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .9;

    /* Zoom Effect */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.3);

  }
  .recent_posts_img_wrapper .recent_posts_image {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    vertical-align: middle;
  }
  .recent_posts_img_wrapper {
    display: inline-block;
    overflow: hidden;
    float: left;
  }
  .vacation_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 20*10px; /* fallback */
  }
  .meta_vacation {
    padding: 10px 0;
    float: left;
    width: 100%;
    .user_name {
      float: right;
      padding-right: 10px;
    }
    .vacation_date {
      float: right;
    }
  }
  @media (max-width: 1400px) {
    .recent_post {
      width: 100%;
    }
  }
  @media only screen and (max-width: 550px) {
    .vacation_desc {
      display: none;
    }
    .user_name, .vacation_date {
      float: left !important;
    }
  }
}

.col-md-5 {
  .recent_posts__h3 {
    margin-top: 0;
  }

  .vacation_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 20*10px; /* fallback */
  }
}

.recent_posts_row {
  margin: 50px 0;
}

.recent_posts_hr {
  border-top: 1px solid #8c8b8b;
  text-align: center;
}

.recent_posts_hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

.recent_posts_header {
  margin-top: 0;
}

.recent_post_left, .recent_post_right {
  padding-left: 0;
}
