* {
  box-sizing: border-box
}
.vacation_container {
  .vac_name {
    color: $main1;
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
  }
  .vacation_slideshow_container {
    width: 100%;
    position: relative;
    margin: auto;
    background-color: black;
    border-radius: 15px;


    .mySlides {
      display: none;
      max-height: 770px;
      position: relative;
      width: 100%;
      .vac_img {
        border: 1px solid;
        border-radius: 10px;
        margin: auto;
        display: block;
        vertical-align: middle;
        width: 100%;
        max-height: 770px;
      }
    }

    .slideshow_prev, .slideshow_next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: #f2f2f2;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      text-decoration: none;
    }

    .slideshow_next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .slideshow_prev:hover, .slideshow_next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .caption_text {
      font: 24px sans-serif;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      color: #e5e5e5;
      height: 40px;
      padding: 8px 12px;
      position: absolute;
      top: 90%;
      width: 30%;
      vertical-align: middle;
      text-align: center;
    }

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .active {
      background-color: #717171;
    }
    .img_fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @media only screen and (max-width: 300px) {
      .prev, .next, .text {
        font-size: 11px
      }
    }
  }
}


