.image_wrapper {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 15px;
  position: relative;
  .img_edit {
    width: 150px;
    height: auto;
    max-height: 150px;
    margin: 0 15px 15px 0;
    padding: 0 15px 15px 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .delete_img {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    right: 20px;
    top: 0;
    opacity: 0;
    cursor: pointer;
    webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
  }
  .img_edit:hover + .delete_img {
    opacity: 1;
  }
  .delete_img:hover {
    opacity: 1;
  }
}

.edit_desc textarea {
  width: 100%;
  height: 150px;
}

.submit_edit{
  margin-right: 15px;
}

@media only screen and (max-width: 550px) {
  .delete_img {
    opacity: 1 !important;
  }
}
