@charset "IBM437";
html, body {
  background-color: #F6F6F6;
  font-family: PT Sans Caption;
  font-size: 16px;
  height: 100%; }

.error {
  color: red;
  font-size: .8em; }

body {
  margin-top: 0;
  /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

.nav-menu-link {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  color: #e5e5e5;
  height: 70px;
  text-align: center;
  padding-top: 10px;
  width: 70px;
  opacity: 0.60; }

.nav-menu-link:hover {
  color: white;
  background-color: black; }

section {
  padding: 0 0; }

.section-heading {
  margin: 30px 0;
  font-size: 4em; }

.section-lead {
  margin: 30px 0; }

.section-paragraph {
  margin: 30px 0; }

footer {
  margin: 50px 0; }

@media (max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px; }

  .section-heading {
    font-size: 2em; } }
.pop-up-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .pop-up-modal .pop-up-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }
  .pop-up-modal .pop-up-modal-header {
    padding: 2px 16px;
    color: white;
    background-color: #049dbf; }
  .pop-up-modal .btn {
    background-color: #049dbf;
    border-color: #049dbf; }
  .pop-up-modal .pop-up-modal-body {
    padding: 2px 16px; }
    .pop-up-modal .pop-up-modal-body form {
      margin-top: 50px;
      text-align: center; }
      .pop-up-modal .pop-up-modal-body form input {
        width: 60%; }
  .pop-up-modal .pop-up-modal-footer {
    padding: 2px 16px;
    background-color: #049dbf;
    color: white; }
  .pop-up-modal .pop-up-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .pop-up-modal .pop-up-close:hover, .pop-up-modal .pop-up-close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

@media (max-width: 800px) {
  .pop-up-modal-content {
    min-width: 80%; } }
@media (max-width: 800px) {
  .pop-up-modal {
    padding-top: 50px; } }
.left-menu {
  display: none;
  width: 20%; }
  .left-menu .leftMenuWrapper {
    padding: 30px 0 0 0; }
    .left-menu .leftMenuWrapper li {
      list-style-type: none;
      width: 100%;
      display: inline-block;
      height: 30px;
      border: 1px solid #0e90d2;
      border-radius: 10px;
      background-color: #0477BF; }
      .left-menu .leftMenuWrapper li a {
        display: block;
        margin-left: 10px;
        text-decoration: none;
        color: #080808; }
      .left-menu .leftMenuWrapper li a:hover {
        color: white; }

@media only screen and (max-width: 600px) {
  .left-menu {
    width: 80%; } }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch input {
    display: none; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.logVacation .input, .logVacation textarea {
  box-shadow: 2px 2px 50px #6a6b71; }

.logVacation p, .logVacation input, .logVacation textarea {
  margin: 0;
  width: 80%; }
  .logVacation p.datepicker, .logVacation input.datepicker, .logVacation textarea.datepicker {
    width: 150px;
    color: #0e90d2; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

.col-md-12 {
  padding: 0; }
  .col-md-12 .recent_posts__h3 {
    margin-left: 0;
    margin-top: 0 !important; }
  .col-md-12 .recent_post {
    padding: 0 20px 0 0;
    width: 50%;
    float: left;
    height: 250px;
    margin-bottom: 20px; }
  .col-md-12 .recent_posts_image {
    float: left;
    margin-right: 50px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px; }
  .col-md-12 .recent_posts_image:hover {
    /* Blur Effect Transaction */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .9;
    /* Zoom Effect */
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.3); }
  .col-md-12 .recent_posts_img_wrapper .recent_posts_image {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle; }
  .col-md-12 .recent_posts_img_wrapper {
    display: inline-block;
    overflow: hidden;
    float: left; }
  .col-md-12 .vacation_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    /* number of lines to show */
    line-height: 20px;
    /* fallback */
    max-height: 200px;
    /* fallback */ }
  .col-md-12 .meta_vacation {
    padding: 10px 0;
    float: left;
    width: 100%; }
    .col-md-12 .meta_vacation .user_name {
      float: right;
      padding-right: 10px; }
    .col-md-12 .meta_vacation .vacation_date {
      float: right; }
  @media (max-width: 1400px) {
    .col-md-12 .recent_post {
      width: 100%; } }
  @media only screen and (max-width: 550px) {
    .col-md-12 .vacation_desc {
      display: none; }
    .col-md-12 .user_name, .col-md-12 .vacation_date {
      float: left !important; } }

.col-md-5 .recent_posts__h3 {
  margin-top: 0; }
.col-md-5 .vacation_desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  /* number of lines to show */
  line-height: 20px;
  /* fallback */
  max-height: 200px;
  /* fallback */ }

.recent_posts_row {
  margin: 50px 0; }

.recent_posts_hr {
  border-top: 1px solid #8c8b8b;
  text-align: center; }

.recent_posts_hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg); }

.recent_posts_header {
  margin-top: 0; }

.recent_post_left, .recent_post_right {
  padding-left: 0; }

.error_404 .img_404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%; }
.error_404 p.error_msg {
  font-family: sans-serif;
  font-size: 1.2em;
  text-align: center; }

* {
  box-sizing: border-box; }

.vacation_container .vac_name {
  color: #048abf;
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px; }
.vacation_container .vacation_slideshow_container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: black;
  border-radius: 15px;
  @-webkit-keyframes fade {
    from {
      opacity: 0; }

    to {
      opacity: 1; } }

  @keyframes fade {
    from {
      opacity: 0; }

    to {
      opacity: 1; } }
 }
  .vacation_container .vacation_slideshow_container .mySlides {
    display: none;
    max-height: 770px;
    position: relative;
    width: 100%; }
    .vacation_container .vacation_slideshow_container .mySlides .vac_img {
      border: 1px solid;
      border-radius: 10px;
      margin: auto;
      display: block;
      vertical-align: middle;
      width: 100%;
      max-height: 770px; }
  .vacation_container .vacation_slideshow_container .slideshow_prev, .vacation_container .vacation_slideshow_container .slideshow_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none; }
  .vacation_container .vacation_slideshow_container .slideshow_next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .vacation_container .vacation_slideshow_container .slideshow_prev:hover, .vacation_container .vacation_slideshow_container .slideshow_next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .vacation_container .vacation_slideshow_container .caption_text {
    font: 24px sans-serif;
    background: black;
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    color: #e5e5e5;
    height: 40px;
    padding: 8px 12px;
    position: absolute;
    top: 90%;
    width: 30%;
    vertical-align: middle;
    text-align: center; }
  .vacation_container .vacation_slideshow_container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }
  .vacation_container .vacation_slideshow_container .active {
    background-color: #717171; }
  .vacation_container .vacation_slideshow_container .img_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  @media only screen and (max-width: 300px) {
    .vacation_container .vacation_slideshow_container .prev, .vacation_container .vacation_slideshow_container .next, .vacation_container .vacation_slideshow_container .text {
      font-size: 11px; } }

.profile_change_pass {
  margin-top: 20px; }

td {
  vertical-align: top;
  padding-top: 10px; }

.profile_info {
  margin-left: 50px; }
  .profile_info p {
    margin-left: 0; }
  .profile_info .user_name_info {
    color: #0e90d2 !important; }
  .profile_info .profile_update {
    margin-top: 20px; }
  .profile_info .user_name_info:hover {
    color: #0e679b !important;
    cursor: pointer; }
  .profile_info .user_name_info {
    position: relative;
    display: inline-block; }
  .profile_info .user_name_info .tooltiptext_name {
    visibility: hidden;
    width: 150px;
    background-color: #93c2e4;
    color: #f8f8f8;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%; }
  .profile_info .user_name_info .tooltiptext_name::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent; }
  .profile_info .user_name_info:hover .tooltiptext_name {
    visibility: visible; }

.profile_img {
  max-height: 400px; }

.profile_name {
  pointer-events: none;
  background-color: #ebebf0; }

.profile_btns {
  padding-left: 15px; }

.log_comments_wrapper {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 40px; }
  .log_comments_wrapper .submit_comment {
    width: 80px;
    float: right; }
  .log_comments_wrapper textarea {
    box-shadow: 2px 2px 50px #6a6b71; }
  .log_comments_wrapper .textareaCounter {
    width: 40px; }

.comments_wrapper .comment_area_text {
  margin: 10px;
  word-wrap: break-word; }
.comments_wrapper .EOComment {
  margin-top: 25px;
  border: none;
  height: 1px;
  color: #aeaeae;
  /* old IE */
  background-color: #aeaeae;
  /* Modern Browsers */ }

@media only screen and (max-width: 10240px) {
  .log_comments_wrapper textarea {
    height: 6em;
    width: 100%;
    margin: auto;
    display: block; } }
@media only screen and (max-width: 500px) {
  .log_comments_wrapper textarea {
    height: 4em;
    width: 100%;
    margin: auto;
    display: block; } }
.image_wrapper {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 15px;
  position: relative; }
  .image_wrapper .img_edit {
    width: 150px;
    height: auto;
    max-height: 150px;
    margin: 0 15px 15px 0;
    padding: 0 15px 15px 0;
    position: absolute;
    left: 0;
    top: 0; }
  .image_wrapper .delete_img {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    right: 20px;
    top: 0;
    opacity: 0;
    cursor: pointer;
    webkit-transition: opacity 1s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 1s; }
  .image_wrapper .img_edit:hover + .delete_img {
    opacity: 1; }
  .image_wrapper .delete_img:hover {
    opacity: 1; }

.edit_desc textarea {
  width: 100%;
  height: 150px; }

.submit_edit {
  margin-right: 15px; }

@media only screen and (max-width: 550px) {
  .delete_img {
    opacity: 1 !important; } }
#List_of_all_vacations_wrapper .vacation_list__h3 {
  margin-left: 0; }
#List_of_all_vacations_wrapper .logged_vacation_container {
  float: left;
  display: block;
  width: 100%; }
  #List_of_all_vacations_wrapper .logged_vacation_container .vac_name {
    display: block; }
  #List_of_all_vacations_wrapper .logged_vacation_container .vacation_list_img {
    width: 200px;
    float: left;
    margin: 25px 40px 25px 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle; }
  #List_of_all_vacations_wrapper .logged_vacation_container .vacation_list_img:hover {
    /* Blur Effect Transaction */
    -webkit-filter: blur(1px);
    -webkit-transition: .2s ease-in-out;
    -moz-filter: blur(1px);
    -moz-transition: .2s ease-in-out;
    -o-filter: blur(1px);
    -o-transition: .2s ease-in-out; }
  #List_of_all_vacations_wrapper .logged_vacation_container .vacation_list_desc {
    margin-top: 25px;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* number of lines to show */
    line-height: 20px;
    /* fallback */
    max-height: 200px;
    /* fallback */ }
  #List_of_all_vacations_wrapper .logged_vacation_container .between_logged_vacations {
    clear: both;
    color: #aeaeae;
    background-color: #aeaeae;
    height: 1px;
    margin-top: 25px; }
#List_of_all_vacations_wrapper #load_more {
  outline-style: none;
  background-color: #048abf;
  border: 1px solid #048abf;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  width: 200px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-in; }
#List_of_all_vacations_wrapper #load_more:hover {
  background-color: #f6f6f6;
  color: #048abf; }
#List_of_all_vacations_wrapper #load_more:active {
  background-color: #048abf;
  color: #f6f6f6; }
#List_of_all_vacations_wrapper .log_vacation {
  outline-style: none;
  background-color: #048abf;
  border: 1px solid #048abf;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  width: 200px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-in; }
#List_of_all_vacations_wrapper .log_vacation:hover {
  background-color: #f6f6f6;
  color: #048abf; }
#List_of_all_vacations_wrapper .log_vacation:active {
  background-color: #048abf;
  color: #f6f6f6; }

@media only screen and (max-width: 500px) {
  .vacation_list__h3, .logged_vacation_container {
    margin-left: 10px; }

  .vacation_list__h3 {
    margin-top: 0; } }
.main__headerTitle {
  margin-top: 50px;
  color: #049dbf; }

.navbar-nav {
  background-color: #0477bf;
  margin-top: 0;
  height: 49px; }

.carousel-caption {
  text-shadow: 5px 5px 10px black; }
  .carousel-caption h2 {
    font-size: 42px; }

.carousel-control .icon-next {
  font-size: 48px; }

.page-scroll {
  font-size: 48px;
  text-decoration: none; }

.page-scroll-wrapper {
  margin-top: 40px !important;
  text-shadow: 5px 5px 10px black !important; }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1); }

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s; }

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/*SideBar*/
body {
  overflow-x: hidden; }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  opacity: 0.65;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 5%;
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center; }

.sidebar-nav-items {
  position: relative;
  width: 100%; }

.sidebar-nav li {
  line-height: 40px;
  text-align: center; }

.sidebar-nav li a, .closebtn {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 8px;
  font-size: 25px;
  transition: 1s; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.sidebar-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px; }

.closebtn {
  position: absolute;
  right: 10px;
  font-size: 32px;
  text-decoration: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }

  #wrapper.toggled {
    padding-left: 250px; }

  #sidebar-wrapper {
    width: 0; }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
.carousel {
  height: 100%; }

.item,
.active,
.carousel-inner {
  height: 100%; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
