$navbar_color: #0477BF;
$main1: #048ABF;
$main2: #049DBF;
$main3: #038C8C;
$main4: #F2E744;

html, body {
  background-color: #F6F6F6;
  font-family: PT Sans Caption;
  font-size: 16px;
  height: 100%;
}

.error {
  color: red;
  font-size: .8em;
}

body {
  margin-top: 0; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.nav-menu-link {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  color: #e5e5e5;
  height: 70px;
  text-align: center;
  padding-top: 10px;
  width: 70px;
  opacity:0.60;
}

.nav-menu-link:hover{
  color: white;
  background-color: black;
}

section {
  padding: 0 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

footer {
  margin: 50px 0;
}

@media(max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-heading {
    font-size: 2em;
  }
}

@function set-button-text-color($color) {

  @if (lightness( $color ) > 40) {
    @return black;
  }
  @else {
    @return white;
  }

}

@import 'partials/_pop-up';
@import 'partials/_myVacation';
@import 'partials/_logVacation';
@import 'partials/_recent_posts';
@import 'partials/_error';
@import 'partials/_slideshow';
@import 'partials/_profile';
@import 'partials/_comments';
@import 'partials/_vacationEdit';
@import 'partials/_listOfVacations';
@import 'partials/_main';
@import 'partials/_side_bar';
@import 'partials/_homepage_slideshow';

